<%- include('partials/_header')  %> 

<%- include('partials/_navigation')  %> 

<div class="about_section layout_padding">
  <div class="container">
     <div class="row">
        <div class="col-md-12">
           <h1 class="about_taital"><%= furniture.name %></h1>
        </div>
     </div>
     <div class="about_section_2 layout_padding">
        <div class="row">
           <div class="col-md-6">
              <div class="about_img"><img src="/<%= furniture.image  %>"></div>
           </div>
           <div class="col-md-6">
              <div class="good_text">
               Price: <span><%= furniture.price  %>$</span>  
             </div>
             <p class="mb-2">
               <b>Category:</b><span> <%= furniture.category.name  %> </span> <br>
               <b>Seller:</b><span> <%= furniture.user.name  %> </span>
            </p>

            <p class="making_text"><%= furniture.description  %></p>
            <% if(user) { %> 
             <% if (user.role =='customer') { %> 
               <% if (!user.furnitures.includes(furniture._id)) { %>  
               <form action="/furniture/reserve" method="post">
                  <input type="hidden" name="furniture_id" value="<%= furniture._id  %>">
                  <div class="read_bt"><button class="btn btn-warning btn-lg text-white">Reserve</button></div>
               </form>
               <% } %> 
               <% if (user.furnitures.includes(furniture._id)) { %>
                  <form action="/furniture/release" method="post">
                     <input type="hidden" name="furniture_id" value="<%= furniture._id  %>">
                     <div class="read_bt"><button class="btn btn-danger btn-lg text-white">Release</button></div>
                  </form>
               <% } %> 
             <% } %> 
             <% } %> 
            </div>
        </div>
     </div>
  </div>
</div>


<%- include('partials/_footer')  %> 