<%- include('partials/_header')  %> 
    <%- include('partials/_navigation')  %> 
      <!-- header section end -->
      <!-- banner section start --> 
      <div class="banner_section layout_padding">
         <div class="banner_section_2">
            <div class="owl-carousel owl-theme gift_owl_carousel">
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img1.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img2.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img2.png" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our Shop</h1>
                  <p class="about_text">Is Providing High quality furniture with on trend design with honesty, pride and originality. We believe in the Liberty Way, setting high standards and dedication in order to find a way to say yes. We are a privately owned business that designs value-driven, quality furniture.</p>
               </div>
            </div>
            <div class="about_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_img"><img src="images/about-img.png"></div>
                  </div>
                  <div class="col-md-6">
                     <div class="good_text">Good Furntures Design</div>
                     <p class="making_text">In 1992, began with a vision of a company that would thrive on the values of hard-work, fairness, and integrity. This initiative and passion for success is visible to this day and is at the very heart of Liberty. Liberty Furniture products are sold exclusively through a network of authorized dealers.</p>
                     <div class="read_bt"><a href="/about">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furnitures Work</h1>
                  <p class="furnitures_text">Many people think that convenience and the pandemic makes e-commerce increasingly popular, categories like furniture</p>
               </div>
            </div>
            <div class="furnitures_section_2">
               <div class="row">
                  <% if (categories.length>0) { %> 
                  <% for (let i = 0; i<categories.length;i++) { %> 
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="/category/<%= categories[i].image %>"></figure>
                     </div>
                     <h3 class="introduction_text"><%= categories[i].name %></h3>
                     <div class="seemore_bt"><a href="/furniture/<%= categories[i].slug %>">See More</a></div>
                  </div>
                  <% } %> 
                  <% } %> 
               </div>
            </div>
         </div>
      </div>
      <!-- furnitures section end -->
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="blog_taital">Trending Products</h1>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="blog_section_2 layout_padding">
               <div class="row">
                  <% if(furnitures.length>0) { %> 
                     <% for (let i=0;i<furnitures.length;i++) { %> 
                        <div class="col-lg-4 col-md-4 col-sm-12">
                           <div class="blog_box">
                              <div class="blog_img"><img src="<%= furnitures[i].image %>"></div>
                              <p class="chair_text"><a href="/furniture/single/<%= furnitures[i].slug  %>"><%= furnitures[i].name.substring(0,25)  %></a> <br>
                              <span><%= furnitures[i].price %>$</span> 
                              </p>
                           </div>
                        </div>
                     <% } %> 
                  <% } %> 
               </div>
            </div>
            <div class="readmore_bt">
               <nav aria-label="...">
               <% if(pages>0) { %> 
               <ul class="pagination pagination-lg">
                  <% for (let i=1; i<=pages;i++) { %>
                     <% if (current==i) { %> 
                        <li class="page-item disabled">
                           <a class="page-link" href="/?page=<%= i %>" tabindex="-1"><%= i %></a>
                         </li>
                     <% } else if (i<pages) { %>
                        <li class="page-item"><a class="page-link" href="/?page=<%= i %>"><%= i %></a></li>
                     <% } else { %>
                        <li class="page-item"><a class="page-link" href="/?page=<%= i %>"><%= i %></a></li>                        
                     <% } %> 
                  <% } %> 
               </ul>
              <% } %> 
             </nav></div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital contact_heading">Get In Touch</h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section map_form_container">
                        <form action="/contact" method="post">
                           <input type="text" class="mail_text" placeholder="Name" name="name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="phone"> 
                           <input type="text" class="mail_text" placeholder="Email" name="email">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="message"></textarea>
                           <div class="btn_main">
                              <div class="send_bt"><button>Send</button></div>
                              <div class="map_bt active"><button id="showMap">Map</button></div>
                           </div>
                        </form>
                        <div class="map_main map_container">
                           <div class="map-responsive">
                              <iframe src="https://maps.google.com/maps?q=Atat%C3%BCrk%20K%C3%B6%C5%9Fk%C3%BC%20Trabzon&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="368" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                              <div class="btn_main">
                                 <div class="map_bt d-flex justify-content-center w-100 map_center"><a href="#" id="showForm">Form</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
<%- include('partials/_footer')  %> 